// VARIABLES
$max-width: 95vw;
$colorPrimario: #070a0d;
$colorSecundario: #f7f7f7;
$colorDestacado: #365268;
$font-family: "IBM Plex Sans", sans-serif;
$borderRadius20: 1.25rem;
$backgroundClaro: #deeaef;
$backgroundOscuro: #c0d7e1;
$backgroundGris: #c0c0c0;
$font-family: "IBM Plex Sans", sans-serif;
$borderInput: 1px solid #ccc;
$inputPadding: 10px;
$inputFontSize: 16px;
$labelMarginBottom: 5px;
$inputMarginBottom: 15px;
